#root {
  height: 100%;
  width: 100%;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* above is to remove the default margin , important which i usually ignore and forget*/


